:root {
    --color-primmary: #2585ff;
    --color-secondary:  #00d9ff;
    --color-accent: #ff3400; 
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%
}

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem; 
    line-height: 1.5;
    color: var(--color-body);
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    /* 1 x the font size of the html element */
    font-size: 7rem; 
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem; 

}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px ) {
    body {
        font-size: 1.8rem; 
    }

    h1 {
        font-size: 8rem; 
    }

    h2 {
        font-size: 4rem; 
    }

    h3 {
        font-size: 2.4rem; 
    }
}

/* Links */
a {
    /* No underline for links */
    text-decoration: none;
}
.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    /* transition is applying to margin */
    transition: margin 0.15s;
}

/* Hovering rule target the after element (in another word after element will change in the hover state)*/
.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

.badge {
    border-radius: 20px;
    /* 0.5rem for vertical padding, 2rem for horizontal padding */
    padding: 0.5rem 2rem; 
    font-weight: 600;
    /* if we have a limited space, we do not want the badge to start onto the next new line */
    white-space: nowrap; 
    font-size: 2rem;
}

.badge--primary {
    background: var(--color-primmary);
    color: #fff; 
}

.badge--secondary {
    background: var(--color-secondary);
    color: #fff; 
}

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px){
    .bagde {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}


/* Lists */
.list {
    /* get rid of the bullet point by default */
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}
/* -- represents different variation of the list */
.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--primary{
    fill: var(--color-primmary);
}

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Button */
.btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    /* get rid of the dark border line by default */
    border: 0;
    border-radius: 40px;
    /* button become clickable */
    cursor: pointer;
    /* (when we have limited space) help the text inside the button stay on oneline only */
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0rem;
}

.btn--primary {
    background: var(--color-primmary);
    color: #fff;
}

.btn--primary:hover {
    background: #3a8ffe;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff
}
.btn--secondary:hover {
    background: #00c8eb;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff
}
.btn--accent:hover {
    background: #ec3000;
}

.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover {
    background: var(--color-headings);
    color:#fff;
}

.btn--block {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}