:root {
    --color-primmary: #2585ff;
    --color-secondary:  #00d9ff;
    --color-accent: #ff3400; 
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc; 
    --border-radius: 30px; 
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%
}

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem; 
    line-height: 1.5;
    color: var(--color-body);
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    /* 1 x the font size of the html element */
    font-size: 7rem; 
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem; 

}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px ) {
    body {
        font-size: 1.8rem; 
    }

    h1 {
        font-size: 8rem; 
    }

    h2 {
        font-size: 4rem; 
    }

    h3 {
        font-size: 2.4rem; 
    }
}

/* Links */
a {
    /* No underline for links */
    text-decoration: none;
}
.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    /* transition is applying to margin */
    transition: margin 0.15s;
}

/* Hovering rule target the after element (in another word after element will change in the hover state)*/
.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

.badge {
    border-radius: 20px;
    /* 0.5rem for vertical padding, 2rem for horizontal padding */
    padding: 0.5rem 2rem; 
    font-weight: 600;
    /* if we have a limited space, we do not want the badge to start onto the next new line */
    white-space: nowrap; 
    font-size: 2rem;
}

.badge--primary {
    background: var(--color-primmary);
    color: #fff; 
}

.badge--secondary {
    background: var(--color-secondary);
    color: #fff; 
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem, 1.5rem;
}

@media screen and (min-width: 1024px){
    .bagde {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}


/* Lists */
.list {
    /* get rid of the bullet point by default */
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}
/* -- represents different variation of the list */
.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--small {
    width: 30px;
    height: 30px;
}

.icon--primary{
    fill: var(--color-primmary);
}

.icon--white {
    fill: #fff;
}

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-container--accent {
    background: var(--color-accent);
}

/* Button */
.btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    /* get rid of the dark border line by default */
    border: 0;
    border-radius: 40px;
    /* button become clickable */
    cursor: pointer;
    /* (when we have limited space) help the text inside the button stay on oneline only */
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0rem;
    outline: 0;
}

.btn .icon {
    width: 2rem;
    height: 2rem; 
    margin-right: 1rem;
    color: #fff; 
    vertical-align: middle;
}

.btn--primary {
    background: var(--color-primmary);
    color: #fff;
}

.btn--primary:hover {
    background: #3a8ffe;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff
}
.btn--secondary:hover {
    background: #00c8eb;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff
}

.btn--accent:hover {
    background: #ec3000;
}

.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover {
    background: var(--color-headings);
    color:#fff;
}

.btn--stretched {
    padding-left: 7rem;   
    padding-right: 7rem;   
}

.btn--block {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* Input */
.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    color: var(--color-headings);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}

/* change the color of the text in placeholder */
::placeholder {
    color: #cdcbd7;
}

.input-group {
    border: 1px solid var(--color-border); 
    border-radius: var(--border-radius);
    display: flex;
    
}

.input-group input {
    border: 0;
    /* flex items grow to take up the available space */
    flex-grow: 1;
    padding: 1.5rem 2rem ;
}

.input-group .btn {
    margin: 4px;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}

/* Cards */
.card {
    border-radius: 7px;
    /* horizontal, vertical, blurring, dark shadow */
    box-shadow: 0 0 20px 10px #f3f3f3;
    /* because the parent has grown bigger than .card, 
    we could not see the round corners, that's why 
    we have to set overflow to hidden to see round corners */
    overflow: hidden;
}

.card__header , .card__body {
    padding: 2rem 2rem;
    text-align: left;
}

.card--primary .card__header {
    background: var(--color-primmary);
    color: #fff;
}
.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
}

.card--primary .badge--primary {
    background: #126de4;
}

.card--secondary .badge--secondary{
    background: #02cdf1;
}

/* Plans */
.plan {
    transition: transform .2s ease-out;
}
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500; 
    font-size: 2.4rem;
}

.plan__price {
    font-size: 6rem;
}

.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.80;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem; 
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.plan--popular {
    transform: scale(1.1);
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    
    /* because this is inline element block */
    display: inline-block;

    /* in order to set this absolute, 
    we need to set its parent class to relative  
    this content is under card__header, therefore
    card__header is parent */
    position: absolute;
    top: -6px;

     /* whatever the width of the card, we set 5% of that */
    right: 5%;
}

.plan:hover {
    transform: scale(1.05);
}

.plan--popular:hover {
    transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem; 
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }
}

.media {
    /* If we set flex on the container, we can lay
    those media object inside the container horizontally */
    display: flex;
}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: 1rem;
}

/* Quotes */
.quote {
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker); 
    line-height: 1.3;
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__line {
    position: relative;
    bottom: 10px;
}

.quote__author {
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    /* remove the space below the author name */
    margin-bottom: 0;
}

.quote__company {
    color: var(--color-headings);
    opacity: .4;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 0; 
}

@media screen and (min_width: 1024px) {
    .quote {
        font-size: 2rem;
    }

    .quote__author {
        font-size: 2.4rem;
    }

    .quote__organization {
        font-size: 1.6rem;
    }
}

/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Testimoninal */
.testimonial {
    padding: 3rem;
}

.testimonial__image {
    position: relative;
}

.testimonial__image > img {
    width: 100%;
}

.testimonial__image > .icon-container {
    position: absolute;
    top: 3rem; 
    right: -32px;
}

/* for tablets */
@media screen and (min-width: 768px) {
    .testimonial .quote, .testimonial .quote__author {
        font-size: 2.4rem;
    }

    .testimonial .quote {
        margin-left: 6rem;
    }
}

/* Callouts */
.callout {
    padding:4rem;
    border-radius: 5px;
}

.callout--primary{
    background: var(--color-primmary);
    color: #fff;
}

.callout__heading {
    color: #fff; 
    margin-top: 0;
    font-size: 3rem;
}

.callout .btn {
    /* apply to the grid */
    /* justify-items: center; */
    /* apply to the grid */
    /* align-items: center; */
    
    /* apply to the grid item (horizontally)*/
    justify-self: center;
    /* apply to the grid item (vertically)*/
    align-self: center;
}

.callout__content {
    text-align: center;
}

@media screen and (min-width: 768px) {
    /* stretched the second grid  */
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto;
    }
    .callout__content {
        text-align: left;
    }

    .callout .btn {
        justify-self: start;
        margin: 0 2rem;
    }
}

/* Collapsible */
.collapsible__header {
    /* To lay things down horizontal (default) or vertical */
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: all 0.5s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    /* Face out effect */
    opacity: 0;
    /* All means apply to all components */
    /* In this case, it is max-height , opacity */
    transition: all 0.5s;
}

.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    /* Fade in effect */
    opacity: 1;
}

/* Blocks */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
    text-align: center;
}

.block__header {
    text-align: center;
}

.block__heading {
    margin-top: 0;
}

.block--dark {
    background: #000;
    color: #7b858b;
}

.block--dark .block__heading {
    color: #fff; 
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}
.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    /* top left, top right, botton right, bottom left  */
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.container {
    max-width: 1140px;
    /* we want to center the container */
    /* 0 vertical, auto hortizontal auto equally distributed */
    margin: 0 auto;
}

/* Navigation Bar */
.nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    /* Push the last element onto the next line */
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}

.nav__list {
    /* Make it wide 100% so it can move onto the next line */
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem; 
    border-bottom: 1px solid #222;
}

.nav__item > a {
    /* Because the links have their own colors */
    color: #d2d0db;
    transition: color 0.3s;
}

.nav__item > a:hover {
    /* Because the links have their own colors */
    color: #fff;
}

.nav__toggler {
    opacity: 0.5;
    transition: all 0.5s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

.nav__brand {
    /* Move the brand logo down a little bit (it's like cheating) */
    transform: translateY(5px);
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
}


/* Hero */
.hero {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

}

.hero__tagline {
    font-size: 2rem;
    color: #b9c3bf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
}

.hero__image {
    /* image stretched horizontally to fill the whole container */
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 0;
    }

    .hero__content {
        text-align: left;
        align-self: center;
    }
}

/* Domain Block */
.block-domain .input-group {
    box-shadow: 0 0 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    max-width: 670px;
}

.block-domain__prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .block-domain__prices {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

/* Plans Block */
.block-plans .grid {
    /* vertical spacing, horizontal spacing */
    gap: 8rem 4rem; 
}

.block-plans .card {
    max-width: 500px;
    margin: 0 auto;
}

/* Features */
.feature {
    gap: 4rem 2rem;
    margin: 12rem 0;
}

.feature:first-of-type {
    margin-top: 6rem;
}

.feature__heading {
    margin: 1rem 0; 
}

.feature__image {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .feature:nth-of-type(even) .feature__content {
        order: 2;
    }
}
