:root {
    --color-primmary: #2585ff;
    --color-secondary:  #00d9ff;
    --color-accent: #ff3400; 
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%
}

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem; 
    line-height: 1.5;
    color: var(--color-body);
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    /* 1 x the font size of the html element */
    font-size: 7rem; 
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem; 

}

p {
    margin-top: 0;
}


@media screen and (min-width: 1024px ) {
    body {
        font-size: 1.8rem; 
    }

    h1 {
        font-size: 8rem; 
    }

    h2 {
        font-size: 4rem; 
    }

    h3 {
        font-size: 2.4rem; 
    }
}

/* Links */
a {
    /* No underline for links */
    text-decoration: none;
}
.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    /* transition is applying to margin */
    transition: margin 0.15s;
}

/* Hovering rule target the after element (in another word after element will change in the hover state)*/
.link-arrow:hover::after {
    margin-left: 10px;
}


@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}